# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Environment
.env
.env.local
.env.*.local

# Misc
*.tsbuildinfo
